'context-menu':
  'atom-text-editor': [
    {
      'label': 'Run code on Backend.AI Cloud'
      'command': 'live-code-runner:run'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Live Code runner'
      'submenu': [
        {
          'label': 'Run code on Backend.AI Cloud'
          'command': 'live-code-runner:run'
        }
      ]
    ]
  }
]
